/* Navigation Section  */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 8px;
    padding-bottom: 10px;
}

/* Home Section  */

#home{
    height: 500px;
    padding: 0px 40px;
}

#home::before{
    height: 600px;
}

#home p{
    font-size: 12px;
}

/* Services Section  */
#services{
    flex-direction: column;
}

#services .box img {
    height: 170px;
    margin: auto;
    display: block;
}

/* Client SEction  */

#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 80px;
    height: auto;
    /* padding: 4px 8px; */
}

/* Contact Us Section  */
#contact-box form{
    width: 70%;
}

/* Footer  */

/* Utility Classes */

.h-primary{
    font-size: 26px;
}

.btn{
    font-size: 12px;
    padding: 5px 10px;
}

.h-secondary {
    font-size: 1.5rem;
    padding: 8px;
}